{#
	/**
	* @file
	* Theme override to display a block.
	*
	* Available variables:
	* - plugin_id: The ID of the block implementation.
	* - label: The configured label of the block if visible.
	* - configuration: A list of the block's configuration values.
	*   - label: The configured label for the block.
	*   - label_display: The display settings for the label.
	*   - provider: The module or other provider that provided this block plugin.
	*   - Block plugin specific settings will also be stored here.
	* - content: The content of this block.
	* - attributes: array of HTML attributes populated by modules, intended to
	*   be added to the main container tag of this template.
	*   - id: A valid HTML ID and guaranteed unique.
	* - title_attributes: Same as attributes, except applied to the main title
	*   tag that appears in the template.
	* - title_prefix: Additional output populated by modules, intended to be
	*   displayed in front of the main title tag that appears in the template.
	* - title_suffix: Additional output populated by modules, intended to be
	*   displayed after the main title tag that appears in the template.
	*
	* @see template_preprocess_block()
	*/
	#}
	<script type="text/javascript">
		function showSearch()
		{

			if (document.getElementById("searchForm").style.display == "none")	
			{
				document.getElementById("primaryMenu").style.display = "none";
				document.getElementById("loupe").style.display = "none";				
				document.getElementById("searchForm").style.display = "block";
			}
			else
			{
				document.getElementById("primaryMenu").style.display = "block";		
				document.getElementById("loupe").style.display = "block";			
				document.getElementById("searchForm").style.display = "none";
			}

		}
	</script>
	<div id="loupe">
		<img onclick="javascript:showSearch()" src="{{base_path}}/cols_bleus_site/themes/custom/endymion/img/search.svg">
	</div>
	<div id="searchForm">
		<div id="search">
		<form action="{{base_path}}/search/node" method="get" id="search-block-form" accept-charset="UTF-8">
			<div id="find-search" class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
				<input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search" placeholder="rechercher..." />
			</div>
			<div id="input-search" data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">

				<input data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Sea" class="button js-form-submit form-submit" />
			</div>
		</form>
	</div>
</div>