<div class="mailchimp-signup-subscribe-form" data-drupal-selector="mailchimp-signup-subscribe-block-newsletter-form" id="block-mailchimpsubscriptionformnewsletter">
	<div class="title-newsletter-div">
		<p class="newsletter-title">newsletter</p>
	</div>
	<form action="{{base_path}}/en/node" method="post" id="mailchimp-signup-subscribe-block-newsletter-form" accept-charset="UTF-8">
		<div id="mailchimp-newsletter-caf50f1433-mergefields" class="mailchimp-newsletter-mergefields">
			
			<div class="js-form-item form-item js-form-type-email form-item-mergevars-email js-form-item-mergevars-email">
				
				<input data-drupal-selector="edit-mergevars-email" type="email" id="edit-mergevars-email" name="mergevars[EMAIL]" value="" size="25" maxlength="254" class="form-email-custom required" required="required" aria-required="true" placeholder="email" />
			</div>
			<input autocomplete="off" data-drupal-selector="form-galsapf-te2hevyhyy6-zawcbzf7xamadpg9vk50wfo" type="hidden" name="form_build_id" value="form-GalSApF_tE2HEvYhYY6_ZAWcBzf7XAMAdpG9Vk50wfo" />
			<input data-drupal-selector="edit-mailchimp-signup-subscribe-block-newsletter-form" type="hidden" name="form_id" value="mailchimp_signup_subscribe_block_newsletter_form" />

			<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--2">
				<div class="newsletter-subscription-submit">
					<input data-drupal-selector="edit-submit" type="submit" id="edit-submit--2" name="op" value="s&#039;abonner" class="button js-form-submit form-submit" />
				</div>
			</div>

		</div>
	</form>
</div>