#magazine {
	background-color: rgba(0,24,94,1);
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 25px;
	padding-top: 50px;
	height: 75vh;
}

.menu-magazine h2 {
	font-family: "ITC Avant-Garde Gothic Std";
	color: #FFF;
	font-weight: normal;
	font-size: 30px;
	margin: 0;
	padding-bottom: 3px;
}