h2 {
	color: rgba(0,24,94,1);
}


.search-block-form {
	width: 100px;
	float: right;
}

body {
	margin: 0px;
}


.alaune {
	display: inline-flex;
}
.js-view-dom-id-11c7b362e091805b76c2f955de39b62725c99c8c5744d0d02a2a4becfd47b7fa
{
	display: inline-flex;
	margin: 10px;
}

article {
	margin: 10px;
	background-color: rgba(0,24,94,1);
}
article h2 a{
	color: #FFF;
	text-decoration: none;
}

#searchForm {
	display: none;
}

