{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
 #}
 {% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
  #}
  <div id="primaryMenu">
    {{ menus.menu_links(items, attributes, 0) }}

    <script type="text/javascript">

    function dropdown_magazine_open(id)
    {
      if (id == "menu-magazine")
      {
        document.getElementById('loupe').style.display = "none";
        document.getElementsByClassName("menu-decouvrir")[0].style.display = "none"; 
        document.getElementsByClassName("menu-image")[0].style.display = "none";
        
      }
      else if (id == "menu-decouvrir")
      {
        document.getElementById('loupe').style.display = "none";

        document.getElementsByClassName("menu-magazine")[0].style.display = "none"; 
        document.getElementsByClassName("menu-image")[0].style.display = "none";
      }
      else if (id == "menu-image")
      {
        document.getElementById('loupe').style.display = "none";

        document.getElementsByClassName("menu-decouvrir")[0].style.display = "none"; 
        document.getElementsByClassName("menu-magazine")[0].style.display = "none";
      }

      document.getElementsByClassName(id)[0].style.display = "block";
    }
    function dropdown_magazine__launch_open(id)
    {
      if (id == "menu-magazine-launch")
      {
        document.getElementById('loupe').style.display = "none";
        document.getElementsByClassName("menu-decouvrir-launch")[0].style.display = "none"; 
        document.getElementsByClassName("menu-image-launch")[0].style.display = "none";
        
      }
      else if (id == "menu-decouvrir-launch")
      {
        document.getElementById('loupe').style.display = "none";

        document.getElementsByClassName("menu-magazine")[0].style.display = "none"; 
        document.getElementsByClassName("menu-image-launch")[0].style.display = "none";
      }
      else if (id == "menu-image-launch")
      {
        document.getElementById('loupe').style.display = "none";

        document.getElementsByClassName("menu-decouvrir-launch")[0].style.display = "none"; 
        document.getElementsByClassName("menu-magazine-launch")[0].style.display = "none";
      }

      document.getElementsByClassName(id)[0].style.display = "block";
    }
    function dropdown_magazine_close(id)
    {
      document.getElementsByClassName(id)[0].style.display = "none";
        document.getElementById('loupe').style.display = "block";

    }
    </script>

    {% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    <ul>
      <li>
        <a href="javascript:dropdown_magazine_open('menu-magazine')" data-drupal-link-system-path="&lt;front&gt;">magazine</a>
        
      </li>
      <li>
        <a href="javascript:dropdown_magazine_open('menu-decouvrir')" data-drupal-link-system-path="node/2">découvrir</a>
      </li>
      <li>
        <a href="javascript:dropdown_magazine_open('menu-image')" data-drupal-link-system-path="node/3">en image</a>
      </li>
      <li>
        <a href="https://www.etremarin.fr">Etre Marin</a>
      </li>
    </ul>


    {% endmacro %}
  </div>