.img-article {


}

.img-article img {
		max-width: 50%;
	height: auto;
}
.img-article-couv img {
		max-width: 70%;
	height: auto;
}
.img-article-couv-paragraphe p
{
	color: rgba(11,17,76,1);
	    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.img-article-paragraphe
{
	    margin-block-start: 0em;
    margin-block-end: 0em;
}
.article-class {
	text-align: center;
	margin-right: 10%;

	margin-left: 10%; 
}
.article-class p{
	color: rgba(11,17,76,1);
	font-family: roboto regular;
	line-height: 2rem;
}
.return-front
{
	width: 10%;
	height: auto;
	max-width: 60px;
	margin: 15px;
	min-width: 20px;
}
.source-article
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.link-image {
	height: 100%
}